name: PR to staging (macOS)

on: 
  push:
      paths:
      - 'live/macos-config/macos-config.json'
  pull_request:
    types:
      - opened
    paths:
      - 'live/macos-config/macos-config.json'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: jakejarvis/s3-sync-action@7ed8b112447abb09f1da74f3466e4194fc7a6311
      if: github.event_name == 'push'
      with:
        args: --acl public-read --follow-symlinks
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        SOURCE_DIR: 'live/macos-config'
        DEST_DIR: 'remotemessaging/config/staging'
    - uses: github-actions-up-and-running/pr-comment@f1f8ab2bf00dce6880a369ce08758a60c61d6c0b
      if: github.event.action == 'opened'
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        message: 'Your PR is hosted at https://staticcdn.duckduckgo.com/remotemessaging/config/staging/macos-config.json'
