name: Upload RMF Images

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - 'illustrations/**'

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Upload images to S3
      if: hashFiles('illustrations/**') != ''
      uses: jakejarvis/s3-sync-action@7ed8b112447abb09f1da74f3466e4194fc7a6311
      with:
        args: --acl public-read --follow-symlinks
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        SOURCE_DIR: 'illustrations/'
        DEST_DIR: 'remotemessaging/illustrations'

    - name: Comment on uploaded images
      if: hashFiles('illustrations/**') != ''
      uses: actions/github-script@v7
      with:
        script: |
          const illustrationsUrl = `https://staticcdn.duckduckgo.com/remotemessaging/illustrations/`;
          const { data: comments } = await github.rest.issues.listComments({
            owner: context.repo.owner,
            repo: context.repo.repo,
            issue_number: context.issue.number,
          });
          const exists = comments.some(comment => comment.body && comment.body.includes('Images uploaded to S3'));
          if (exists) {
            core.info('Images uploaded comment already exists; skipping.');
            return;
          }
          await github.rest.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: `Images uploaded to S3:\n- Illustrations: ${illustrationsUrl}`,
          });